# === IMPORTANT NOTICE ===
# This is a PUBLIC TEMPLATE. Original source variables are PUBLIC EXAMPLE ONLY.
# FORKERS MUST:
# 1. Generate their own credentials
# 2. Edit via: `vi .env` on VPS
# 3. Never commit actual credentials to a public repository.
# ========================
# Installation guide: https://github.com/AshokShau/TgMusicBot?tab=readme-ov-file#installation

# Telegram API credentials (get from my.telegram.org)
API_ID=22403100
API_HASH=ccbc3f662735abfa604ef6309ba76e67

# Bot token from @BotFather
TOKEN=8059125251:AAEGMaBB_9SXfSK3oSk5yOOfkrNJVnf8-2s

# Pyrogram session strings from @StringFatherBot (10 strings max, 1 minimum)
STRING1=BQGmEyoAnkNG6DnXgUQUFs9pP-UXFP3Qf9XVOMF-s4tMI4QFQcgdI3GlsvMjDO7l3spupsbopJeEC1G-2AR6-3T0qFj2KXzGvaNGUUjZ29AdoeyvTiSf_wmY9nzihRyAqx2WL12oZXbH8hvEJkxxDOdFYiXZgzXLC9ZzkXpDcPvVxx1XYeV-qbDyHlb9V1ug8_VsE_Kgf-lkSC30rRO_6MRTHX4b4oPnstifdioffxvTuTn4BppHFnoWI6E_S4Ovp-JNnF3D7MQ1VqGPorUDFNDxVDrpri0-BmN-fCp_6vAFCBUP3KdJIGBADda1clonIdI5812PJbJeXYS9hBZc0MJr08F8qgAAAAF1DqmhAA
STRING2=

# Bot owner's Telegram ID
OWNER_ID=7950514048

# Database configuration
MONGO_URI=mongodb+srv://sumitsajwan135:gameno01@cluster0.ja0i0.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0


# Optional API configurations (for unlimited downloads: https://github.com/AshokShau/TgMusicBot?tab=readme-ov-file#-tired-of-ip-bans-from-youtube)
# Get from https://t.me/FallenApiBot
API_URL=https://sp.ashok.sbs/
API_KEY=4940fd_YXcamquPbpSO7_RWPibyDbFMSwtHoH7v

# Cookies for yt-dlp through BatBin(https://batbin.me/) [This will bypass IP Bans]
COOKIES_URL=https://batbin.me/harmers

# Bot behavior settings
AUTO_LEAVE=True
DEVS=7950514048
LOGGER_ID=-1002432275758

# Community links
SUPPORT_GROUP=https://t.me/animefantasyg
SUPPORT_CHANNEL=https://t.me/piras_official

# Default music service
DEFAULT_SERVICE=youtube

# Proxy URL for yt-dlp (Optional)
PROXY=

# Minimum number of members required for the bot to stay in a group
MIN_MEMBER_COUNT=25
